@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #334155;
  --bg-color: #1d232a;
}

body {
  background-color: var(--bg-color);
}

#__next-build-watcher {
  display: none;
}